# This workflow will build the project when changes are pushed to the main branch

name: Build on Push

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn -B clean package --file pom.xml

    - name: Upload Paper JAR
      uses: actions/upload-artifact@v4
      with:
        name: ChinaOnly-paper
        path: ChinaOnly-paper/target/ChinaOnly-paper-*.jar
        if-no-files-found: error

    - name: Upload Velocity JAR
      uses: actions/upload-artifact@v4
      with:
        name: ChinaOnly-velocity
        path: ChinaOnly-velocity/target/ChinaOnly-velocity-*.jar
        if-no-files-found: error

    - name: Upload Bungee JAR
      uses: actions/upload-artifact@v4
      with:
        name: ChinaOnly-Bungee
        path: ChinaOnly-Bungee/target/chinaonly-bungee-*.jar
        if-no-files-found: error